@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::selection {
    background-color: #FFA903;
    color: #fff;
}

body {
	/* font-family: 'Poppins', sans-serif; */
    font-family: 'Barlow', sans-serif;
	font-size: 16px;
}

#preloader{
	background-color: #fbf9f2;
	height: 100%;
	width: 100%;
	position: fixed;
	margin-top: 0px;
	top: 0px;
	z-index: 999;
}
#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 75px;
    display: inline-block;
    vertical-align: middle;
}
.loader .loader-outter {
    position: absolute;
    border: 4px solid #ffa903;
    border-left-color: transparent;
    border-bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-animation: loader-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
    animation: loader-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
}
.loader .loader-inner {
    position: absolute;
    border: 4px solid #ffa903;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    border-right: 0;
    border-top-color: transparent;
    -webkit-animation: loader-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
    animation: loader-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
}
@-webkit-keyframes loader-outter {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader-outter {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

 @-webkit-keyframes loader-inner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

 @keyframes loader-inner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

.slider-bg {
	background-size: cover;
	background-position: center;
	position: relative;
    background-repeat: no-repeat;
	z-index: 1;
}
.slider-bg::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #003580bd;
	opacity: .85;
	z-index: -1;
}

section {
    margin-inline: auto;
    width: 92%;
    max-width: 1440px;
}


.destination-bg {
	background-position: center;
	background-size: cover;
	position: relative;
	/* z-index: 1; */
}
.destination-bg::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #571336;
	opacity: .35;
	/* z-index: -1; */
}
  /* Define the animation keyframes */
@keyframes shrinkAndEnlarge {
	0% {
	  transform: scale(1.1);
	  border: 1px solid #e4e4e4;
	}
	50% {
	  transform: scale(0.8);
	  border: 1px solid #57112F;
	}
	100% {
	  transform: scale(1.1);
	  border: 1px solid #e4e4e4;
	}
  }
  
  /* Create a CSS class that applies the animation */
  .shrink-enlarge {
	animation: shrinkAndEnlarge 2s ease infinite;
	transform-origin: center;
	border: 1px solid #e4e4e4;
	padding: 7px;
  }
  

